<h2 *ngIf="isCollapsed" >Edit User</h2>
<table *ngIf="isCollapsed" class="table ">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Save</th>
    <th scope="col">Cancel</th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th class="align-middle">{{onEditUser.id}} </th>
    <td class="align-middle"><input type="text" class="form-control" [(ngModel)]="onEditUser.first_name"></td>
    <td class="align-middle"><input type="text" class="form-control" [(ngModel)]="onEditUser.last_name"></td>
    <td class="align-middle"><input type="text" class="form-control" [(ngModel)]="onEditUser.email"></td>
    <td class="align-middle"><button (click)="saveEditedUser()" type="button" class="btn btn-success"><i style=" cursor:pointer"  class="material-icons">done</i></button></td>
    <td class="align-middle text-center"> <i style=" cursor:pointer" class="material-icons" (click)="close()">clear</i></td>
  </tr>

  </tbody>
</table>

<h2 *ngIf="!isCollapsed">Users</h2>
<table *ngIf="!isCollapsed" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let user of users">
    <td scope="row">{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>

    <td><i style=" cursor:pointer" (click)="openEditForm(user)" class="material-icons">create</i></td>
    <td><i style=" cursor:pointer" (click)="deleteUser(user.id)" class="material-icons">delete</i></td>
  </tr>

  </tbody>
</table>
